https://github.com/MarekPokropinski/atari-py/releases/download/0.3.0/atari_py-0.3.0-cp36-cp36m-win_amd64.whl ; sys_platform == "win32"
https://github.com/MarekPokropinski/atari-py/releases/download/0.3.0/atari_py-0.3.0-cp36-cp36m-linux_x86_64.whl ; sys_platform == "linux"
gym==0.16.0
